BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
AccessModifierOffset: -2
NamespaceIndentation: All
ColumnLimit: 140
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
MaxEmptyLinesToKeep: 2
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
InsertBraces: true
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: Inline
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
BreakAfterAttributes: Always
ConstructorInitializerIndentWidth: 4
RequiresExpressionIndentation: OuterScope
PPIndentWidth: 4
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
AlignArrayOfStructures: Right
BreakArrays: false
Standard: c++20